extends layout

block content
    if vlog
        article.article-full
            .article-type.vlog Vlog
            h1= vlog.Title
            .article-meta
                span.date #{new Date(vlog.PublishedAt).toLocaleDateString()}
                if vlog.Readtime
                    span.readtime #{vlog.Readtime} min watch
                if authors
                    span.authors By #{authors.join(", ")}
                else 
                    p.error Author information not available.
            if vlog.VideoFile
                .video-container
                    video(controls width="100%")
                        source(src=vlog.VideoFile.VideoFileUrl type="video/mp4")
                        | Your browser does not support the video tag.
            .article-content
                p= vlog.Content
            if vlog.Tags && vlog.Tags.length > 0
                .tags
                    each tag in vlog.Tags
                        span.tag ##{tag}
    else
        p.error Vlog not found.

    .comments-section
        h2 Comments
            span#comment-count.count (#{comments.length})

        .comment-form-container
            h3 Add a Comment
            form#comment-form
                .form-group
                    label(for="userId") User ID
                    input#userId(type="number" name="userId" placeholder="Enter your user ID" required min="1")

                .form-group
                    label(for="content") Comment
                    textarea#content(name="content" placeholder="Write your comment here..." required rows="4")

                button.btn.btn-primary(type="submit") Post Comment

        #comments-container
            if comments && comments.length > 0
                each comment in comments
                    .comment(data-comment-id=comment.CommentId)
                        .comment-header
                            strong.comment-author= comment.User.Username
                            span.comment-date= new Date(comment.PublishedAt).toLocaleString()
                        .comment-content= comment.Content
            else
                p.no-data No comments yet. Be the first to comment!

block scripts
    script.
        const ARTICLE_ID = !{vlog.ArticleId};
    script(src="/js/comments-realtime.js")
